<h2>Hotel Inventory App</h2>
<!-- <hinv-rooms></hinv-rooms> -->

<hinv-container>
    <hinv-rooms></hinv-rooms>
    <hinv-empoyee></hinv-empoyee>
</hinv-container>


<div #divRef>
   
</div>


<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome {{role}} !
    </div>
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page !
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->