<h2>Booking Room</h2>>

{{ bookingForm.value | json }}
Pristine : {{ bookingForm.pristine }} Dirty : {{ bookingForm.dirty }}

<form [formGroup]="bookingForm" (ngSubmit)="addBooking()">
  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input
      formControlName="roomId"
      type="number"
      matInput
      placeholder="Room Id"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Guest Name</mat-label>
    <input
      formControlName="guestName"
      matInput
      type="text"
      placeholder="Guest Name"
      
    />
    <!-- display message error for react form validators with Angular Material -->
    <mat-error *ngIf="bookingForm.get('guestName')?.hasError('minlength')">
      Guest Name shuld have minimum 5 characters !
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Mobile Number</mat-label>
    <input
      formControlName="mobileNumber"
      type="number"
      matInput
      placeholder="Mobile Number"
    />
    <mat-error *ngIf="bookingForm.get('mobileNumber')?.hasError('min')">
      Mobile number must have minimum 10 numbers !
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Booking Amount</mat-label>
    <input
      formControlName="bookingAmount"
      type="number"
      matInput
      placeholder="Booking Amount"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Guest Email</mat-label>
    <input
      formControlName="guestEmail"
      type="email"
      matInput
      placeholder="Email"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Check-in Date</mat-label>
    <input
      matInput
      [matDatepicker]="checkinPicker"
      formControlName="checkinDate"
      placeholder="MM/DD/YYYY"
    />
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle
      matIconSuffix
      [for]="checkinPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkinPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Check-out Date</mat-label>
    <input
      matInput
      [matDatepicker]="checkoutPicker"
      formControlName="checkoutDate"
      placeholder="MM/DD/YYYY"
    />
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle
      matIconSuffix
      [for]="checkoutPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkoutPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Booking Date</mat-label>
    <input
      matInput
      [matDatepicker]="bookingPicker"
      formControlName="bookingDate"
      placeholder="MM/DD/YYYY"
    />
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle
      matIconSuffix
      [for]="bookingPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #bookingPicker></mat-datepicker>
  </mat-form-field>

  <div [formGroupName]="'addresses'">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Addresses </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="mat-expansion-panel">
          <mat-label>Address Line1</mat-label>
          <input
            formControlName="addressLine1"
            matInput
            type="text"
            placeholder="Address Line1"
          />

          <!-- Display an error message using validators when a reactive form has nested form -->
          <mat-error *ngIf="bookingForm.get('addresses.addressLine1')?.hasError('required')">
            Address Line1 is required !
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-expansion-panel">
          <mat-label>Address Line2</mat-label>
          <input
            formControlName="addressLine2"
            matInput
            type="text"
            placeholder="Address Line2"
          />
        </mat-form-field>

        <mat-form-field class="mat-expansion-panel">
          <mat-label>City</mat-label>
          <input
            formControlName="city"
            type="text"
            matInput
            placeholder="City"
          />
        </mat-form-field>

        <mat-form-field class="mat-expansion-panel">
          <mat-label>State</mat-label>
          <input
            formControlName="state"
            type="text"
            matInput
            placeholder="State"
          />
        </mat-form-field>

        <mat-form-field class="mat-expansion-panel">
          <mat-label>Country</mat-label>
          <input
            formControlName="country"
            type="text"
            matInput
            placeholder="Country"
          />
        </mat-form-field>

        <mat-form-field class="mat-expansion-panel">
          <mat-label>Zip Code</mat-label>
          <input
            formControlName="zipCode"
            type="text"
            matInput
            placeholder="Zip Code"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>  
  </div>
  <br/>

  <div>
    <button type="button" mat-raised-button color="primary" (click)="addGuest()">Add Guest</button>
  </div>  

  <!-- Acordion cu controalele dinamice  -->
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Guests </mat-panel-title>
      </mat-expansion-panel-header>

      <div formArrayName="guestList">  <!-- Iterare controale din array -->
        <div *ngFor="let guest of guestControl.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field class="example-full-width">
              <mat-label>Guest Name</mat-label> 
              <input formControlName="guestName"
                      type="text"
                      matInput
                      placeholder="Guest Name"
              />
            </mat-form-field>

            <!-- Display an error message using validators when a reactive form has formArray -->
            <mat-error *ngIf="bookingForm.get(['guestList',i,'guestName'])?.hasError('required')">
              Guest Name is required !
            </mat-error>
            
            <mat-form-field class="example-full-width">
              <mat-label>Guest Age</mat-label>
              <input formControlName="age"
                     type="number"
                     matInput
                     placeholder="Guest Age"
              />
            </mat-form-field>

            <button type="button" mat-raised-button color="primary" (click)="removeGuest(i)">Remove Guest</button>
         
          </div> 
          <br/>     
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion> 
  <br/>

    <div >
      <button type="button" mat-raised-button color="primary" (click)="addPassport()">Add Passport</button>
      <button type="button" mat-raised-button color="primary" (click)="deletePassport()">Delete Passport</button>
    </div>

  <div *ngIf="bookingForm.get('passport')">
    <mat-form-field class="example-full-width">
      <mat-label>Passport</mat-label>
      <input formControlName="passport"
             type="text"
             matInput
             placeholder="Passport"
      />
    </mat-form-field>
    <br/>
  </div>
  <mat-checkbox class="example-margin" formControlName="termAndConditions">T&C</mat-checkbox>

 <br />
 <br/>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="bookingForm.invalid"
  >
    Add Booking
  </button>
</form>
