<!-- <h1>Rooms Section</h1> -->

<hinv-header></hinv-header>

<!-- <div *ngIf="hiddenRooms">
    <h2>Welcome to {{hotelName}}</h2>
    <h3>Number of free rooms : <span [innerHTML]="numberOfRooms"></span></h3>
</div>

<div *ngIf="selectedRoom">
    Price Room Selected : {{selectedRoom.rating}}
</div> -->

<router-outlet></router-outlet>

<button class="btn btn-info" [routerLink]="['add']">Add Room</button>
<button class="btn btn-success" (click)="editRoom()">Edit Room</button>
<button class="btn btn-danger" (click)="deleteRoom()">Delete Room</button>
<br/>
<br/>

 <!-- <div>
   Error :  {{getError$ | async}} 
   Number of rooms : {{countRooms$ | async}}
</div> -->

{{priceFilter | json}}
<div>
    <h4>Price Filter</h4>
    <input type="number" class="form-control" [formControl]="priceFilter"/>
</div>
<div *ngIf="rooms$ | async as rooms">
    <hinv-rooms-list [rooms]="rooms"
    [price]="priceFilter.value"
     (selectedRoom)="selectRoom($event)"
     [roomsListTitle]="roomListTitle">
    </hinv-rooms-list>
</div>
<br/>
<button class="btn btn-danger" (click)="togle()">Togle Rooms</button>
<div>
   <h4>Total records : {{totalBytes}}</h4> 
</div>


